I am looking to prove that Magnet designated schools have higher CAASPP test scores in Placr county.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
csv_path = "output/MPSchool.csv"
MPSchool = pd.read_csv(csv_path)
MPSchool.head()

,School,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Not Met
0,Granite Bay High,58.07,30.71,4.13
1,Oakmont High,27.25,23.18,26.82
2,Woodcreek High,34.54,37.21,11.83
3,Rocklin High,33.41,34.27,12.36

In [3]:
MPSchool = MPSchool.rename(columns={"Percentage Standard Exceeded": "2018 Percent Exceeded",
                                   "Percentage Standard Met": "2018 Standart Met",
                                   "Percentage Standard Not Met": "2018 Percent Not Met"})
MPSchool.head()

,School,2018 Percent Exceeded,2018 Standart Met,2018 Percent Not Met
0,Granite Bay High,58.07,30.71,4.13
1,Oakmont High,27.25,23.18,26.82
2,Woodcreek High,34.54,37.21,11.83
3,Rocklin High,33.41,34.27,12.36

In [4]:
csv_path = ("output/seventeen.csv")
seventeen = pd.read_csv(csv_path)
seventeen.head()

,School,2017 Percent Exceeded,2017 Standard Met,2017 Percent Not Met
0,Granite Bay High,39.60,35.05,8.91
1,Oakmont High,39.57,34.53,8.39
2,Woodcreek High,41.24,41.43,3.98
3,Rocklin High,57.66,29.05,3.83

In [5]:
MPSchool = MPSchool.merge(seventeen, on="School", how="outer",)
MPSchool

,School,2018 Percent Exceeded,2018 Standart Met,2018 Percent Not Met,2017 Percent Exceeded,2017 Standard Met,2017 Percent Not Met
0,Granite Bay High,58.07,30.71,4.13,39.60,35.05,8.91
1,Oakmont High,27.25,23.18,26.82,39.57,34.53,8.39
2,Woodcreek High,34.54,37.21,11.83,41.24,41.43,3.98
3,Rocklin High,33.41,34.27,12.36,57.66,29.05,3.83

In [6]:
csv_path = ("output/sixteen.csv")
sixteen = pd.read_csv(csv_path)
sixteen.head()

,School,2016 Percent Exceeded,2016 Standard Met,2016 Percent Not Met
0,Granite Bay High,33,31,18
1,Oakmont High,22,29,20
2,Woodcreek High,24,25,18
3,Rocklin High,23,35,18

In [7]:
MPSchool = MPSchool.merge(sixteen, on="School", how="outer",)
MPSchool

,School,2018 Percent Exceeded,2018 Standart Met,2018 Percent Not Met,2017 Percent Exceeded,2017 Standard Met,2017 Percent Not Met,2016 Percent Exceeded,2016 Standard Met,2016 Percent Not Met
0,Granite Bay High,58.07,30.71,4.13,39.60,35.05,8.91,33,31,18
1,Oakmont High,27.25,23.18,26.82,39.57,34.53,8.39,22,29,20
2,Woodcreek High,34.54,37.21,11.83,41.24,41.43,3.98,24,25,18
3,Rocklin High,33.41,34.27,12.36,57.66,29.05,3.83,23,35,18

In [8]:
csv_path = ("output/fithteen.csv")
fithteen = pd.read_csv(csv_path)
fithteen.head()

,School,2015 Percent Exceeded,2015 Standard Met,2015 Percent Not Met
0,Granite Bay High,34,41,8
1,Oakmont High,41,38,4
2,Woodcreek High,34,41,8
3,Rocklin High,55,33,4

In [9]:
MPSchool = MPSchool.merge(fithteen, on="School", how="outer",)
MPSchool

,School,2018 Percent Exceeded,2018 Standart Met,2018 Percent Not Met,2017 Percent Exceeded,2017 Standard Met,2017 Percent Not Met,2016 Percent Exceeded,2016 Standard Met,2016 Percent Not Met,2015 Percent Exceeded,2015 Standard Met,2015 Percent Not Met
0,Granite Bay High,58.07,30.71,4.13,39.60,35.05,8.91,33,31,18,34,41,8
1,Oakmont High,27.25,23.18,26.82,39.57,34.53,8.39,22,29,20,41,38,4
2,Woodcreek High,34.54,37.21,11.83,41.24,41.43,3.98,24,25,18,34,41,8
3,Rocklin High,33.41,34.27,12.36,57.66,29.05,3.83,23,35,18,55,33,4