I am looking to prove that Magnet designated schools have higher CAASPP test scores in Placr county.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
csv_path = "output/MPSchool.csv"
MPSchool = pd.read_csv(csv_path)
MPSchool.head()

,School,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Not Met
0,Granite Bay High,58.07,30.71,4.13
1,Oakmont High,27.25,23.18,26.82
2,Woodcreek High,34.54,37.21,11.83
3,Rocklin High,33.41,34.27,12.36

In [ ]:
schools = schools.drop_duplicates()
combined_data = schools.merge(pubsch_data, on="CDSCode", how="inner",)
combined_data.head()